# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coredumps
*.stackdump
core
a.out

# Backup files
*~
*.bak
*.BAK
*-BAK
BAK/*
tmp/*

# Local stuff
config.hh
dumpargs
sample_interpreter
sample_interpreter?
env2
*.man
env2.pod
env2.pod-middle
t/out*
