# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coredumps
*.stackdump
core
a.out

# Backup files
*~
*.bak
*.BAK
*-BAK
BAK/*
tmp/*

# Local stuff
dumpargs
env2
sample_interpreter
env2.man
env2.pod
env2.pod-middle
dumpargs.man
t/out0
t/out1
t/out2
t/out3
t/out4
t/out5
t/out6
