# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coredumps
*.stackdump
core
a.out

# Backup files
*~
*.bak
*.BAK
*-BAK
BAK/
tmp/
OLD/

# OS files
.DS_Store
.nfs*

# Python
__pycache__/

# Local stuff
config.*
da
dumpargs
sample_script.si
sample_interpreter
sample_interpreter?
env2
img2ans
*.man
env2.pod
env2.pod-middle
*/t/out*
*/t/exp*
BIDeT/netpbm-sf-10.73.33_amd64.deb
